<form class="css-form">
<h3>Personne {{personne.id}}</h3>
	<label>Nom:</label><input type="text" required ng-model="personne.nom"/><br>
	<label>Prénom:</label><input type="text" required ng-model="personne.prenom"><br>
	<label>Date naissance:</label><input type="date" required ng-model="personne.date_naissance"><br>
	<h3>Detail</h3>
	<label>Sexe:<input type="text" required ng-model="personne.personneDetail.sexe"></label><br>
	<label>Numéro Secu:<input type="text" requireds ng-model="personne.personneDetail.numSecu"></label><br>
<h3>Adresses</h3>
<div ng-show="personne.personnesAdresses.length !==0">
</div>
	<input ng-click="save(personne)" ng-show="personne.id == null" value="Nouveau" type="submit" />	
	<input ng-click="update(personne)" ng-show="personne.id != null && personne.id != ''" value="MaJ" type="submit" />
	<input type="button" value="Reset" ng-click="reset()" />
</form>


<!-- 
{
  "id": 1,
  "date_naissance": "1985-07-14",
  "nom": "Duvinage",
  "prenom": "Gaël",
  "telephones": [
    {
      "id": 1,
      "libelle": "Portable",
      "numero": "0616936490"
    },
    {
      "id": 3,
      "libelle": "Bureau",
      "numero": "1352"
    }
  ],
  "personneDetail": {
    "id": 1,
    "numSecu": "185078619415516",
    "sexe": "Homme"
  },
  "personnesAdresses": [
    {
      "id": 3,
      "debut": "2013-01-01",
      "fin": "2016-08-31",
      "principale": false,
      "adresse": {
        "id": 2,
        "libelle": "8 bis rue de la resistance",
        "ville": {
          "id": 3,
          "capital": false,
          "codePostal": "31120",
          "nom": "Pinsaguel",
          "pays": {
            "id": 1,
            "nom": "France",
            "population": 66000000,
            "monnaie": "euro",
            "continent": "Europe"
          }
        }
      }
    },
    {
      "id": 1,
      "debut": "2016-09-01",
      "fin": null,
      "principale": true,
      "adresse": {
        "id": 1,
        "libelle": "48, route de Lacroix Falgarde",
        "ville": {
          "id": 3,
          "capital": false,
          "codePostal": "31120",
          "nom": "Pinsaguel",
          "pays": {
            "id": 1,
            "nom": "France",
            "population": 66000000,
            "monnaie": "euro",
            "continent": "Europe"
          }
        }
      }
    }
  ]
}
-->