<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="today-datas">
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget wviolet">
            <div ht-widget-header title="People" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <table class="table table-condensed table-striped" >
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Age</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in vm.personnes" >
                    <td ng-click="vm.selectPersonne(p.id)">{{p.nom}}</td>
                    <td ng-click="vm.addAdresse()">{{p.prenom}}</td>
                    <td>{{p.dateNaissance | ageFilter}}</td>
                    <td><button ng-click="vm.deletePersonne(p.id)">x</button></td>
                  </tr>
                </tbody>
              </table>
              <tfoot>
            <tr><button ng-click="vm.getPersonnes()">refresh</button></tr>
            </tfoot>
          </div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      
    <div class="col-md-6">
      <div class="widget wgreen">
        <div ht-widget-header title="Nouveau" allow-collapse="true" ></div>
        <div class="widget-content text-center text-info">
          <multi-step-container ng-controller="WizardPersonneCtrl as vm" steps="vm.steps" class="sliding-steps multi-step-container" search-id="'check'">
          <header>
          </header>
          <main step-container></main>
          <!-- <main step-container>
          <a href="http://blog.reactandbethankful.com/angular-multi-step-form/#/using-forms">form</a>
          </main> -->
          <footer>
            <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
            <span class="fa fa-chevron-left"></span>
            Previous
            </button>
            <strong ng-if="$getActiveStep().hasForm" class="fa" ng-class="$getActiveStep().valid ? 'fa-check' : 'fa-times'"></strong>
            <button ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)" class="btn btn-default" ng-click="$nextStep()">
            Next
            <span class="fa fa-chevron-right"></span>
            </button>
          </footer>
          </multi-step-container>
        </div>
        <div class="widget-foot">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="widget wgreen">
          <div ht-widget-header title="{{vm.personneSelected.nom}} {{vm.personneSelected.prenom}}" allow-collapse="true" ></div>
          <div class="widget-content text-center text-info">
            <personne-detail det-personne="vm.personneSelected" update-list="vm.getPersonnes()">
            </personne-detail>
          <personne-adresse adr-personne="vm.personneSelected"></personne-adresse>
        </div>
        <div class="widget-foot">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</section>
</section>